page-home {

  ion-content {
    &::before {
      content: '';
      position: absolute;
      width: 80vw;
      height: 80vw;
      background: linear-gradient(rgba(#3171e0, 0.33), rgba(#0cd1e8, 0.20));
      z-index: 1;
      border-radius: 50%;
      bottom: -30vw;
      right: -10vw;
      animation-name: fadeInUp;
      animation-duration: 0.5s;
    }
  }

  ion-item {
    margin-bottom: 1rem !important;
    font-size: 1.4rem !important;
  }

  ion-input {
    input {
      text-align: right;
    }
  }

  .welcome-message {
    margin-top: 2rem !important;
  }

  .submit-button {
    margin-top: 1rem;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}