<ion-header>
  <ion-navbar>
    <ion-title mode="md">
      Waiting Line
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="round-container">
      <div class="animated fadeInRight round-background"></div>
    </div>

    <ion-row class="list-container">
      <ion-col
      col-12
      class="animated"
      [style.animation-delay]="i / 10 / 2 + 's'"
      [class.bounceInRight]="i % 2"
      [class.bounceInLeft]="!(i % 2)"
      *ngFor="let customer of dataProvider.customerLine; let i = index;">
        <ion-card mode="ios" class="customer-card">
          <div class="line-position-container">
            <span>{{ i + 1 }}</span>
          </div>
          <ion-card-header>
            <div class="customer-name">
              {{ customer.fullName }}
            </div>
            <div class="barber-name" *ngIf="customer.selectedBarber && customer.selectedBarber.id">
              <b>Barber: </b>{{ customer.selectedBarber?.name }}
            </div>
            <div class="barber-name" *ngIf="customer.selectedBarber && !customer.selectedBarber.id">
              Waiting for the next barber available
            </div>
            <div class="move-customer-button" (click)="confirmCustomerMovement(customer)">
              <ion-icon name="md-open"></ion-icon>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col class="animated bounceInLeft" col-12 *ngIf="!dataProvider.customerLine.length">
        <ion-card mode="ios" class="customer-card">
          <ion-card-header>
            <div class="customer-name">There aren't any customers yet</div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>