<ion-header>
  <ion-navbar>
    <ion-title mode="md">
      Barbers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="round-container">
      <div class="animated fadeInLeft round-background"></div>
    </div>

    <ion-row class="list-container" *ngIf="dataProvider">
      <ion-col col-12>
        <ion-card mode="ios" class="customer-card">
          <ion-card-header>
            <div class="customer-name">
              Current time: {{ currentTime | date: 'mediumTime' }}
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col
      col-12
      class="animated"
      [style.animation-delay]="i / 10 / 2 + 's'"
      [class.bounceInLeft]="i % 2"
      [class.bounceInRight]="!(i % 2)"
      *ngFor="let barber of dataProvider.barbers; let i = index;">
        <ion-card mode="ios" class="barber-card" *ngIf="i">
          <div class="barber-id-container">
            <span>{{ i }}</span>
          </div>
          <ion-card-header>
            <div class="barber-name">
              {{ barber.name }}
            </div>
            <div class="customer-name" *ngIf="barber.customerOnChairName">
              <b>Currently with: </b>{{ barber.customerOnChairName }}
            </div>
            <div class="customer-name" *ngIf="!barber.customerOnChairName">
              Waiting for the next customer
            </div>
            <div class="finish-customer-button" (click)="finishWithCustomer()">
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
            <span *ngIf="barber.customerOnChairName">Time with customer: <b>{{ barber.timeElapsedWithCustomer }} minutes</b></span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>